
header{
    background-color: lightblue;
    background-image: url(../img/cloud.png);
    color: darkblue;
    text-align: center;
    padding: 1em;
    font-size: 2em;
 }

 .router-link-active {
     color:white;
     background-color: lightskyblue;
     text-decoration: none;
 }

