.note-app{
    text-decoration: none;
}
.note-list{
    display: flex;
    flex-wrap: wrap;
    font-family: Quicksand;
}
button{
    cursor:pointer;
    
}
.add-btn{
    height: 100px;
    position: relative;
    width: 20px;
    background: #91c850;
}
.add-note{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
    max-height: 280px;
    border: 1px solid   ;
    border-radius: 5px;
    text-align: center;
    margin:5px;
    padding:10px;
    cursor: pointer;
}


.add-btn::after{
    background: #91c850;
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;
}
.note-background-color-purp{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px black solid;
    background-color: #C390D4;
    
}
.note-background-color-green{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px black solid;
    background-color: #7EDE96;
}
.note-background-color-orange{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px black solid;
    background-color: #D9BA5D;
}
.delete-note-btn{
    background-color: Transparent;
    background-repeat:no-repeat;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.title{
    margin: auto;
}
.note-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 150px;
    min-height: 280px;
    /* max-height: 280px; */
    border: 1px solid   ;
    border-radius: 5px;
    text-align: center;
    margin:5px;
    padding:10px;
    cursor: pointer;
    background-color: #7EDE96
}

.note-preview-container{
    position: absolute;
    bottom: 5%;
}

textarea{
    resize: none;
    width: 100%;
    height: 90%;
}

.note-preview-img{
    width: 120px
}



.text-note-add-container{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    height: 500px;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}
.todo-note-add-container{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    height: 500px;
    flex-direction: column;
    margin: 0 auto;
    margin: 17px;
}

.img-note-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    height: 500px;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid;
}
.edit-img-container{
    max-width: 300px;
}
.todo-input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
}
.note-editor{
    text-align: center;
}
.nav-btn{
    margin-top: 10px;
}
.todo-list{
    padding: 10px;
}
.todo-control{
    max-width: 500px;
    border: 1px solid;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.note-pick-btns{
    margin: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.text-input{
    margin:5px;
}
.image-input{
    margin:5px;
}
.todo-input{
    margin:5px;
}