.email-app-container {
    font-family: Quicksand;
    flex: 1;
}

.main-app-container {
    font-family: Quicksand;
}

.my-progress {
    border: black solid 1px;
    border-radius: 99999px;
    flex: 1;
    max-width: 600px;
}

.status-bar {
    height: 15px;
    background-color: #4a9bdb;
    border-radius: 99999px;
    text-align: center;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

.single-email-box {
    background-color: rgb(255, 255, 255);
    margin-bottom: 7px;
    margin-left: 10px;
    padding: 6px 15px;
    border-collapse: collapse;
    font-size: 34px;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 6.3rem;
    min-width: 490px;
    border: #40b244 solid 1px;
    border-radius: 7px;
}

.single-email-box.is-read>* {
    font-weight: normal;
}

.single-email-box.is-read {
    border: none;
    background-color: rgba(202, 205, 211, 0.7);
}

.single-email-box:hover {
    box-shadow: 0px 9px 7px -7px rgba(0, 0, 0, 0.45);
}

.mark-read-btn::before {
    font-family: Awsome;
    border-radius: 9999px;
    padding: 5px 5px;
    border: gray solid 1px;
    display: none;
    position: absolute;
    right: 7px;
}

.mark-read-btn:hover::before {
    background: gray;
    border-radius: 9999px;
}

.mark-read-btn {
    height: 28px;
}

.single-email-box:hover .mark-read-btn::before {
    display: inline-block;
}

.single-email-box:hover .mail-prev-time {
    display: none;
}

.subject-time-container {
    display: flex;
}

.mail-prev-subject {
    margin-left: 17px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    order: -10;
    position: absolute;
    left: 0;
    margin-left: 31px;
    font-size: 23px;
    text-decoration: underline;
}

.mail-prev-body {
    flex: 1;
    padding: 0 20px;
    font-weight: bold;
    font-size: 18px;
    order: 1;
    position: absolute;
    left: 0;
    top: 43px;
    margin-left: 12px;
}

.mail-prev-time {
    font-weight: bold;
    order: -5;
    font-size: 12px;
    position: absolute;
    right: 0;
    margin-top: 2px;
    margin-right: 26px;
}

.status-unread-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    margin-top: 20px;
    width: 471px;
}

.unread-emails {
    width: 148px;
    margin-left: 20px;
}

.compose-email-btn {
    position: fixed;
    width: 200px;
    height: 74px;
    border-radius: 9999px;
    border: none;
    font-size: 30px;
    background: #40b244;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all .2s ease-in-out;
    bottom: 118px;
    right: 29%;
}

.compose-email-btn:hover {
    transform: scale(1.1);
}

.radio-sort-container {
    display: flex;
    margin-bottom: 25px;
    margin-left: 15px;
}

.radio-filter {
    min-width: 218px;
}

.sort-emails-container {
    margin-left: 38px;
}

.checkmark {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.email-search-input {
    margin-bottom: 13px;
    order: 5;
    min-width: 490px;
    margin-right: 20px;
    margin-left: 20px;
}

.email-search-input>input {
    width: 81%;
    height: 38px;
    border-radius: 999px;
    border: solid gray 1px;
}

.sort-emails-trigger {
    margin-left: 50px;
}

.sort-btn {
    width: 70px;
    height: 24px;
    padding: 2px;
    border-radius: 9999px;
    border: solid black 1px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}

.sort-btn:hover {
    background: rgb(148, 148, 148);
    border-radius: 9999px;
}

.sort-opts {
    display: flex;
}

.filter-container {
    display: flex;
    flex-direction: column;
}

.email-list-container {}

.email-details-body {
    font-family: Quicksand;
    white-space: normal;
}

.email-details-container {
    border: solid #b9b9b9 1px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    width: 491px;
    height: 528px;
}

.compose-massage {
    border: solid #b9b9b9 1px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    width: 491px;
    height: 528px;
    border-radius: 7px;
    font-family: Quicksand;
}

.to-subject-compose {
    display: flex;
    width: 500px;
}

.subject-compose {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 20px;
}

.back-compose {
    margin: 20px;
}

.send-compose {
    position: fixed;
    width: 200px;
    height: 74px;
    border-radius: 9999px;
    border: none;
    font-size: 30px;
    background: #40b244;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all .2s ease-in-out;
    bottom: 118px;
    right: 29%;
}

.send-compose:hover {
    transform: scale(1.1);
}

.to-compose>input {
    border-radius: 9999px;
    border: solid gray 1px;
}

.subject-compose>input {
    border-radius: 9999px;
    border: solid gray 1px;
}

.to-compose {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 20px;
}

.normal-btn {
    border: solid black 1px;
    border-radius: 99999px;
    padding: 4px 10px;
}

.normal-btn:hover {
    border: solid black 1px;
    background-color: #fff;
    border-radius: 99999px;
    padding: 4px 10px;
}

.details-back-btn {
    top: 20px;
    right: 20px;
    position: absolute;
}

.details-delete-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.sort-by {
    white-space: nowrap;
}

@media (min-width: 1000px) {
    .single-email-box {
        height: 2rem;
        font-size: 16px;
        display: flex;
        margin-left: 218px;
        width: 80%;
        height: 73px;
        display: flex;
        flex-direction: column;
    }
    .email-prev-body {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .email-prev-subject {
        flex: 0 0 250px;
        overflow: hidden;
    }
    .status-unread-container {
        margin-top: 25px;
        width: 961px;
        margin-left: 218px;
    }
    .my-progress {
        max-width: none;
    }
    .unread-emails {
        width: 175px;
    }
    .email-search-input>input {
        width: 80%;
    }
    .email-search-input {
        margin-right: 93px;
    }
    .filter-container {
        flex-direction: row-reverse;
        margin-right: 20px;
        margin-left: 197px;
    }
    .radio-sort-container {
        margin-left: 0;
        margin-right: 33px;
    }
    .sort-opts {
        margin-top: 5px;
    }
    .compose-email-btn {
        bottom: 66px;
        right: 9%;
    }
    .email-details-container {
        width: 1055px;
        height: 501px;
        margin-left: 219px;
    }
    .details-delete-btn {
        position: absolute;
        bottom: 30px;
    }
    .to-subject-compose {
        margin-left: 500px;
    }
    .compose-massage {
        width: 1001px;
        height: 472px;
        margin-left: 250px;
    }
    .send-compose {
        bottom: 66px;
        right: 9%;
        z-index: 50;
    }
    .back-compose {
        margin-left: 300px;
    }
}